.main {
  .dashmain {
    position: relative;
    top: 80px;

    .dashboard {

      padding: 30px;
      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;

        border: 2px solid black;

        tr{
          border: 2px solid black;
        }

        th,
        td {
          min-width: 150px;
          padding: 1rem;
          height: 100%;
          text-align: center;

          input {
            width: 100%;
            border: none;
            outline: none;
            text-align: center;
            background-color: inherit;
          }

          button {
            background-color: black;
            color: white;
            padding: 10px;
            border-radius: 5px;
            border: none;
            outline: none;
            cursor: pointer;
          }
        }

        th {
          background: #000;
          color: white;
        }

        .CANdata {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          align-items: center;
          gap: 15px;

          p {
            border-radius: 20px;
            padding: 5px 20px;

            &:nth-child(n) {
              background-color: #556df5;
              color: white;
            }

            &:nth-child(2n) {
              background-color: rgb(9, 56, 110);
              color: #f0f0f0;
            }

            &:hover {
              background-color: #000000;
              color: white;
              scale: 1.1;
            }
          }

        }

        tbody tr:nth-child(odd) {
          background-color: #f0f0f0; // Set background color for odd rows
        }

        tbody tr:nth-child(even) {
          background-color: #ffffff; // Set background color for even rows
        }

        td a {
          text-decoration: none;
          color: blue;
        }
      }
    }
  }
}
