@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Space+Grotesk:400,500,600,700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-family: 'Space Grotesk', sans-serif;
}

html{
  scroll-behavior: smooth;
  font-size: 18px;
}